@use '~bootstrap/scss/bootstrap';
@use './partials/apartments';
@use './partials/payment';
@use './partials/apartment-card';

$primary: #ffde59;

.primary {
    color: $primary;
}

.bg_primary {
    background-color: $primary;
}

header {
    height: 60px;
}