@use '~bootstrap/scss/bootstrap';
@use './partials/apartments';
@use './partials/payment';
@use './partials/apartment-card';

$primary: #ffde59;

.primary {
    color: $primary;
}

.bg_primary {
    background-color: $primary;
}

header {
    height: 60px;
}


td {
    white-space: nowrap;
    /* Evita il ritorno a capo automatico del testo */

    overflow: hidden;
    /* Nasconde il testo che supera la larghezza della cella */

    text-overflow: ellipsis;
    /* Aggiunge i puntini di sospensione (...) */
}