.h-20 {
    height: 20%;
}

.card-thumbnail {
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: cover;
}


.img_overlay {

    img {
        height: 100%;
        object-fit: cover;
    }

    &:hover .img_modal {
        transform: scale(1);
    }
}

.img_modal {
    transform: scale(0);
    transition: 0.4s;

}